.seccion-clases {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .tarjeta-clase {
    flex: 1 1 250px;
    background: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  